@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');

:root{
--cor-fundo: #ffffff;
--cor-base:#000000 ;
}
body{
    background-color: var(--cor-fundo);
    color:var(--cor-base);
  /* root é caixinha de variaveis :(*/ 
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
  

}
img{
    width: 90%
    ;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

 .img-intro{
        width: 10%
    }
.intro{
    margin: 0 30%;
    display: flex;
    flex-direction: column;
}
   
.introdução{
    display: flex;
}

#equipe{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    
}
    .foto-equipe{
        width: 50%
    
    }
    
header     a{
color:rgb(219, 226, 125);

text-decoration: none;
}

        


