:root{

    background-color: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
}
body{
    background-color: var(cor-fundo);
    color:var(cor-base)
  /* root é caixinha de variaveis :(*/ 

}
img{
    width: 20%
    ;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

 .img-intro{
        width: 10%
    }
.intro{
    display: flex;
}
   
.introdução{
    display: flex;
}

#equipe{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    
}
    .foto-equipe{
        width: 50%
    
    }
    
header     a{
color:rgb(238, 53, 53);

text-decoration: none;
}

        


